@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    @apply box-border m-0 p-0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
  @apply bg-slate-100 text-slate-900 antialiased dark:bg-slate-950 dark:text-white;
  font-family: "Inter", sans-serif;
}

  button {
    @apply cursor-pointer;
  }

  input,
  textarea,
  select {
    @apply outline-none;
  }

  a {
    @apply no-underline;
  }

  ul {
    @apply list-none;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-200;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-amber-500 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-amber-600;
  }
}